
@{
    ViewData["Title"] = "Index";
}

<form action="/Cube/Result" method="post">
    <div>
        <textarea id="data" name="data" rows="20" cols="100"></textarea>      
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>
    
</form>