@{
    ViewData["Title"] = "Prueba técnica XpertGroup";
}
 
<div>
    <h1>Cube Summation</h1>


    <p>
        You are given a 3-D Matrix in which each block contains 0 initially. The first block is defined by the coordinate (1,1,1) and the last block is defined by the coordinate (N,N,N). There are two types of queries.
    </p>

<pre>
<code>UPDATE x y z W</code>
</pre>
    <p>
        updates the value of block (x,y,z) to W.
    </p>

<pre>
<code>QUERY x1 y1 z1 x2 y2 z2</code>
</pre>
    <p>

        calculates the sum of the value of blocks whose x coordinate is between x1 and x2 (inclusive), y coordinate between y1 and y2 (inclusive) and z coordinate between z1 and z2 (inclusive).
    </p>

    <p><b>Input Format</b></p>
    <p>
        The first line contains an integer T, the number of test-cases. T testcases follow.<br />
        For each test case, the first line will contain two integers N and M separated by a single space.<br />
        N defines the N * N * N matrix.<br />
        M defines the number of operations.<br />
        The next M lines will contain either
    </p>

<pre>
<code>
 1. UPDATE x y z W
 2. QUERY  x1 y1 z1 x2 y2 z2
</code>
</pre>

    <p><b>Output Format</b></p>
    <p>Print the result for each QUERY.</p>

    <p><b>Constrains</b></p>

    <p>

        1 <= T <= 50<br />
        1 <= N <= 100<br />
        1 <= M <= 1000<br />
        1 <= x1 <= x2 <= N<br />
        1 <= y1 <= y2 <= N<br />
        1 <= z1 <= z2 <= N<br />
        1 <= x,y,z <= N<br />
        -109 <= W <= 109
    </p>

    <p>
        Ing. Ricardo González C.<br />
        <a href="mailto:ricardo.gonzalez@msn.com">ricardo.gonzalez@msn.com</a>
    </p>


</div>
